@import '../../custom.sass'
@import '../../darkMode.sass'

.productInfo

  .buttonContainer
    padding: 10px

  input
    margin: 10px

  button
    margin: 10px

  .productCard
    margin: 10px 
    padding: 10px  //TODO only for desktop

    .media
      align-items: center
    p

      text-align: left   

    // TODO prevent the image to expand further vertically once the max-width is reached, breaking the proportions
    img 
      //height: 250px  
      height: 30vh
      max-width: 40vw

    div
      max-width: inherit
      max-height: inherit

  .containerProd
    max-width: 95%
    margin: 0 auto
    .firstInfo
      background-color: $dark_bg_card
  .productData

    table
      margin-inline: auto

    td
      text-align: left
      padding-inline: .5em

      img
        height: 1em



