.productInfo{

  .productCard{

    margin: 5%;

    img{
      // TODO set image max-heigh proportional to the height of the page
      // height: 20% won't do the trick 
      height: 250px;
    }

  }

  .btn{
    margin: 10px;
  }
}

