.productInfo{

  .productCard{
    // the card is split in half vertically
    // the image is on the left, its width is fixed by the card column
    // the card expands horizontally filling the page minus 5% margin
    // the height of the card is determined by the proporions of the image height

    margin: 5%;

    .img{
      // TODO set image max-heigh but mantaining proportions
      max-height:50px;
      width:auto;
    }

  }

  .btn{
    margin: 10px;
  }
}