.login{
  margin: 5% auto;
}
.formIns{
  label{
  text-align: left;
  }
}
.loginImg{
  border-radius: 50%;
  margin: auto;
  max-width: 8em;
}

@media only screen and (min-width: 600px) {
  .cardLogin{
    max-width: 95%;
  } 
}

@media only screen and (min-width: 768px){
  .cardLogin{
    max-width: 50%;
    margin: 0 auto;
  }
}

