@import '../globalCompStyle/globalStyle.sass'
*
  box-sizing: inherit
  transition-property: all
  transition-timing-function: ease

h1
  margin: 5%
  font-size: 40px
  padding-bottom: 2%

.msgTitle
  font-size: 2rem

.eco
  margin-bottom: 30px
  width: 13%

p
  margin: 5%
  text-align: justify

.homeImagesScroll
  width: 80%

.titleBanner
  font-size: 10.5vw
  color: #ec6b69

@media (min-width: 768px)
  .msgTitle
    font-size: 2.5rem

  .homeImagesScroll
    width: 33.6%

  .vc_col-sm-4
    width: 33%

  .titleBanner
    font-size: 3vw

.our_mission
  background-color: $background_color_3
  padding-bottom: 30px
  background-repeat: no-repeat
  height: fit-content

  .mission
    margin-top: 10px

  .missionText
    max-width: 85%
    font-size: 1.25rem
    margin: 0 auto
    line-height: 1.8rem

.vc_column_container
  padding-left: 0
  padding-right: 0

.vc_column-inner
  box-sizing: border-box
  padding-left: 15px
  padding-right: 15px
  padding-top: 15px
  width: 100%

.vc_custom_1548165107261
  margin-top: -60px !important
  padding-top: 80px !important
  padding-right: 40px !important
  padding-bottom: 40px !important
  padding-left: 40px !important
  background-color: $white !important
  border-radius: 4px !important

.middleBan
  max-width: 95%
  margin: 0 auto !important
  background-size: cover

.resp
  width: 7.5em

.mis
  padding-top: 15px
