$white: #fff;

* {
  box-sizing: inherit;
  transition-property: all;
  transition-timing-function: ease;
}

h1{
  margin:5%;
  font-size: 40px;
  padding-bottom: 2%;
}

.eco{
  margin-bottom: 30px;
  width: 13%;
}

p{
  margin: 5%;
  text-align: justify;
}

.sim-button{
  line-height: 50px;
  height: 50px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  width: 10%;
  cursor: pointer;
}

.button1 {
  background-color: #17a2b8;
  color: $white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  border: 1px solid #17a2b8;
}

.button1:hover {
  background-color: $white;
  color:  #17a2b8;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}