$header-color: #17a2b8
$border-color: #d3d3d3
$black: #000
$white: #fff

.meals
  h1
    color: $header-color
    margin-bottom: 1%
    margin-left: 3%
    margin-right: 3%
    margin-top: 3%
    padding-bottom: 0

  .trashcan
    float: right
    height: 1.5rem
    width: 1.5rem

  .remove
    width: 4%

  .add
    width: 10%

  .input-new-meal
    float: left
    margin-right: 5px
    width: 40%

  .date-new-meal
    float: left
    margin-right: 5px
    width: 20%

  .button-add
    float: left

  .add-meal
    float: right
    height: 2rem
    width: 2rem

  .card-calendar
    border: 0

    .card-body
      font-size: small
      padding: 0

    .calendar
      height: 1.5rem
      width: 1.5rem

  .card-new-meal
    border: 0

    .card-body
      padding-left: 0

  @media only screen and (min-width: 380px)
    .card-img-left
      align-self: center
      height: 8em
      max-width: 6em

    .card-new-meal
      border: 0

      .card-body
        padding-left: 1px

      .input-new-meal
        width: 50%

      .date-new-meal
        width: 30%

    .component-p
      font-size: small

    .card-text
      padding: 1em

  @media only screen and (max-width: 480px)
    .card-img-left
      align-self: center
      height: 8em
      max-width: 6em

    .card-new-meal
      border: 0

      .card-body
        padding-left: 5px

      .input-new-meal
        width: 50%

      .date-new-meal
        width: 30%

    .component-p
      font-size: small

    .card-text
      padding: .5em


  @media only screen and (min-width: 600px)
    .card-last-meals
      margin: 0 auto
      max-width: 90%

    .card-new-meal
      margin: 10px auto
      max-width: 90%

    .card-img-left
      align-self: center
      height: 10em
      max-width: 10em

    .component-p
      font-size: medium

    .card-text
      padding: 1.25em

  @media only screen and (min-width: 768px)
    .card-last-meals
      margin: 0 auto
      max-width: 70%

    .card-new-meal
      margin: 10px auto
      max-width: 70%

    .card-img-left
      align-self: center
      height: 10em
      max-width: 10em

    .component-p
      font-size: medium

    .card-text
      padding: 1.25em

