$header-color: #17a2b8
$border-color: #d3d3d3
$black: #000
$white: #fff

.meals
  h1
    color: $header-color
    margin-bottom: 1%
    margin-left: 3%
    margin-right: 3%
    margin-top: 3%
    padding-bottom: 0


  .trashcan
    float: right
    height: 1.5rem
    width: 1.5rem

  .remove
    height: 1.25rem
    margin-left: 8rem
    margin-top: 3rem
    width: 1.25rem


  .add
    width: 10%


  .card-calendar
    border: 0

    .card-body
      font-size: small
      padding: 0

    .date-p
      display: inline-block
      width: 75%

    .calendar
      float: left
      height: 1.5rem
      width: 1.5rem

    .meals-datepicker
      height: 0
      padding: 0
      width: 0


  .card-new-meal
    border: 0

    .card-body
      padding-left: 0

    .input-new-meal
      float: left
      margin-right: 5px
      width: 40%

    .date-new-meal
      float: left
      margin-right: 5px
      width: 20%

    .button-add
      float: left

    .add-meal
      float: right
      height: 2rem
      width: 2rem

  .add-component
    display: flex


  @media only screen and (min-width: 380px)
    .card-img-left
      align-self: center
      height: 8em
      max-width: 6em

    .card-calendar
      margin-bottom: 1rem

    .card-new-meal
      border: 0

      .card-body
        padding-left: 1px

      .input-new-meal
        margin-left: 1.25rem
        width: 75%

      .date-new-meal
        width: 30%

      .input-live-feedback
        margin-left: 1.25rem
        max-width: 50%

    .component-p
      font-size: small
      margin-bottom: 0

    .card-text
      padding: 1em

    .card-components-text
      float: left
      width: 80%

    .meal-name-p
      display: inline-block
      width: 70%

    .nutri-score-img
      float: left
      height: 4rem

  @media only screen and (max-width: 480px)
    .card-img-left
      align-self: center
      height: 8em
      max-width: 6em

    .card-calendar
      margin-bottom: 1rem

    .card-new-meal
      border: 0

      .card-body
        padding-left: 5px

      .input-new-meal
        margin-left: 1.5rem
        width: 75%

      .date-new-meal
        width: 30%

      .input-live-feedback
        margin-left: 1.25rem
        max-width: 50%

    .component-p
      font-size: small
      margin-bottom: 0

    .card-text
      padding: .5em

    .card-components-text
      float: left
      width: 80%

    .meal-name-p
      display: inline-block
      width: 70%
 
    .nutri-score-img
      float: left
      height: 4rem


  @media only screen and (min-width: 600px)
    .card-last-meals
      margin: 0 auto
      max-width: 90%

    .card-calendar
      margin-bottom: 2rem

    .card-new-meal
      margin: 10px auto
      max-width: 90%

      .input-live-feedback
        display: flex
        margin-left: 1.5rem

    .card-img-left
      align-self: center
      height: 10em
      max-width: 10em

    .component-p
      font-size: medium
      margin-bottom: 10px

    .card-text
      padding: 1.25em

    .card-components-text
      width: 50%

    .nutri-score-img
      height: 6rem

    .chart-box
      margin: 0 auto
      width: 80%


    .meal-name-p
      display: inline-block
      width: 85%


  @media only screen and (min-width: 768px)
    .card-last-meals
      margin: 0 auto
      max-width: 70%

    .card-calendar
      margin-bottom: 2rem

    .card-new-meal
      margin: 10px auto
      max-width: 70%

      .input-live-feedback
        display: flex
        margin-left: 1.5rem

    .card-img-left
      align-self: center
      height: 10em
      max-width: 10em

    .component-p
      font-size: medium
      margin-bottom: 10px

    .card-text
      padding: 1.25em

    .card-components-text
      width: 50%
    
    .nutri-score-img
      height: 6rem

    .chart-box
      margin: 0 auto
      width: 80%

    .meal-name-p
      display: inline-block
      width: 85%


