.nav-bar 
  a
    &.info_prod
      color:white !important
    
    &.router-link-exact-active 
      color: antiquewhite !important
    
  img.localeFlag 
    width: 25px
    margin-right: 5%
  
  .localeID
    text-transform: uppercase
  

