.nav-bar {
  a{
    &.info_prod{
      color:white !important;
    }
    &.router-link-exact-active {
      color: antiquewhite !important;
    }
  }
  img.locale_flag {
    width: 25px;
    margin-right: 5%;
  }
}

