.containerFather
  margin-top: 30px!important
  
  .chartTitle
    color: #17a2b8
    font-size: 6vh
    display: flex
    justify-content: center

  .buttonsDisposition
    float: left
    display: flex
    flex-direction: row
    margin-left: 3em
  
  #button
    margin-right: 15px

  .buttonCalculate
    width:7em !important
    
  &:hover
    cursor: pointer

    
.container
  display: flex
  flex-direction: column
  margin: 0 auto

  .changeableGraph
    padding-top: 4em
    display: flex
    justify-content: center
    padding-bottom: 30px
  
    .apexcharts-legend 
      display: flex

    .apexcharts-legend-series
      text-align: justify
    
@media (min-width: 768px)
  h3
    font-size: 2.5rem !important

  .container
    margin: 0 auto!important
    padding-top: 30px
  
  



  