.bg-img{
  background-image: url('../../assets/food.png');
  background-size: cover;
  position: absolute;
  width: -webkit-fill-available;
}
.page{
  padding-top: 30px;
  padding-bottom: 30px;
}