.bg-img{
  background-image: url('../../assets/Food.jpg');
  background-size: cover;
  position: absolute;
  opacity: 0.1;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.page{
  padding-top: 30px;
}