@import './custom.sass'
//607D8B
.dark
  background-color: rgba($dark_bg, .9)
  .msgTitle
    color: $white
  .our_mission
    background-color: $bg_dark_mission
  //Start Login, Registration Style
  .login, .registration, .container
    .cardLogin, .cardR
      background-color: $dark_bg_card
      .card-title
        color: $white
      .formIns, #myTabContent
        .grey-text
          .form-group
            color: $white
            .text-muted
              color: $white !important
        #basicInfo, .tab-content-info
          .row
            .labelText
              color: $white
          .text-muted
            color: $white !important
          .pers
            color: $white
        .nav-tabs
          .nav-link
            background-color: $dark_bg_link
            border-bottom: 1px solid $border_color
            color: $white
            font-weight: normal
          .active
            background-color: $dark_bg_link_not_active
            color: $dark_bg_card
            font-weight: bolder

      
  //End Login, Registration Style

  span
    color: $white
  .buttonsDiv, .buttonsDisposition
    .button1
      background-color: $background_dark_color
      &:hover
        background-color: $background_color_1
        color: $white
