@import './custom.sass'

.light
  background-color: $white
  .card-edit
      color: $black
      font-size: 1.8em
  .meals
    .mealTitle
      color: $background_color_1
    .accordion-bgn
      background-color: $bg_light_mission
      
  .our_mission
    background-color: $bg_light_mission
  //Start Login Style
  .meals, .productInfo, .containerFather
    .containerMeal, .containerProd, .containerGraphs
      #myTabContent
        .nav-justified, .nav-tabs
          .nav-link
            border-bottom: 1px solid $border_color
            color: $text-color
            font-weight: normal
          .active
            color: $dark_bg_card
            font-weight: bolder
  .login, .registration, .container, .productInfo
    .cardLogin, .cardR
      background-color: $white
      .card-title
        color: $black
      .formIns, #myTabContent, .tabsContainer
        .grey-text
          .form-group
            color: $black
            .text-muted
              color: $black
        #basicInfo, .tab-content-info
          .row
            .labelText
              color: $black
          .text-muted
            color: $black !important
          .pers
            color: $black
        .nav-tabs
          .nav-link
            border-bottom: 1px solid $border_color
            color: $text_color
            font-weight: normal
          .active
            color: $black
            font-weight: bolder

  .vc_custom_1548165107261
    background-color: $white !important
    .textBlock
      color: $black
  //End Login Style
  .buttonsDiv, .buttonsDisposition
    .button1
      background-color: $background_color_1 
    .disabled
      color: $black

  .buttonCalendar
    border: 1px solid lightgrey
    .date-picker
      color: $black