@import './custom.sass'

.light
  background-color: rgba($white, 0.8)
  //Start Login Style
  .login
    .cardLogin
      background-color: $white
      .card-title
        color: $black
      .formIns, #myTabContent
        .grey-text
          .form-group
            color: $black
            .text-muted
              color: $black
        #basicInfo
          .row
            .labelText
              color: $black
          .text-muted
            color: $black !important
          .pers
            color: $black
  //End Login Style
  
  //Start Registration Style

  //End Registration Style
  .buttonsDiv, .buttonsDisposition
    .button1
      background-color: $background_color_1 