@import './custom.sass'

.light
  background-color: $white
  .card-edit
      color: $black
      font-size: 1.8em
  .meals
    .mealTitle
      color: $background_color_1
      
  .our_mission
    background-color: $bg_light_mission
  //Start Login Style
  .login
    .cardLogin
      background-color: $white
      .card-title
        color: $black
      .formIns, #myTabContent
        .grey-text
          .form-group
            color: $black
            .text-muted
              color: $black
        #basicInfo
          .row
            .labelText
              color: $black
          .text-muted
            color: $black !important
          .pers
            color: $black

  .vc_custom_1548165107261
    background-color: $white !important
    .textBlock
      color: $black
  //End Login Style
  .buttonsDiv, .buttonsDisposition
    .button1
      background-color: $background_color_1 
    .disabled
      color: $black