@import '../../custom.sass'
@import '../../lightMode.sass'
@import '../../darkMode.sass'
@import './achievement.sass'

.profileIntro
  padding-bottom: 30px

.listAll
  margin: 0 auto
  line-height: .8em
  .elemList
    list-style: circle
  
#imgProfile
  width: 9em
  height: 10em

#profilePicture
  display: none

.d-block
  font-size: 1.3rem
  font-weight: bold

.labelText
  font-weight: bold

.card-button
  align-items: center
  border: 0
  cursor: pointer
  display: flex
  user-select: none

  > .material-icons
    font-size: inherit

.card-button[disabled]
  cursor: stop
  opacity: .6
  pointer-events: none

.card-edit
  background: transparent
  border-radius: .2em
  padding: .25em
  position: absolute
  right: .5em
  top: .5em
  font-size: 1.5em

  &:hover,
  &:focus
    background: transparent

.image-container
  position: relative

.image
  opacity: 1
  display: block
  width: 100%
  height: auto
  transition: .5s ease
  backface-visibility: hidden

.middle
  transition: .5s ease
  opacity: 1
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  text-align: center
  background-color: transparent
  #btnChangePicture
    background-color: transparent
    border-color: transparent
    color: $black
  .camera
    font-size: 2.8em
.card-avatar
  display: block
  height: auto
  width: 20%
  .card-avatar--circle
  border-radius: 50%
  width: 9em
  height: 10em

.nsError
  border-color: $error !important

.card-input
  border-radius: .3em
  margin: .25em
  padding: .5em 1em

.tab-content-info
  padding-top: 20px

.buttonCalendar
  border-radius: 3px
  width: 100%
  background: transparent
  margin: 0
  text-align: center
  cursor: pointer

.form-control-sm, .custom-select-sm, .form-control
  display: initial !important

  @media screen and (min-width: 320px)
    max-width: 50%

  @media screen and (min-width: 1200px)
    max-width: 100%

.dropdown-menu:hover
  cursor: pointer
