$header-color: #17a2b8
$border-color: #d3d3d3

.last-meals
  h1
    color: $header-color
    margin: 3%

  @media only screen and (min-width: 380px)
    .card-img-left
      align-self: center
      height: 15vh

    .component-p
      font-size: small

  @media only screen and (max-width: 480px)
    .card-img-left
      align-self: center
      height: 15vh

    .component-p
      font-size: small


  @media only screen and (min-width: 600px)
    .card-last-meals
      margin: 0 auto
      max-width: 90%

    .card-img-left
      align-self: center
      height: 15vh

    .component-p
      font-size: medium


  @media only screen and (min-width: 768px)
    .card-last-meals
      margin: 0 auto
      max-width: 70%

    .card-img-left
      align-self: center
      height: 20vh

    .component-p
      font-size: medium

