.last_meals{
  h1 {
    margin: 3% !important;
    color: #17a2b8;
 }

  .p {
    padding: 0% !important;
  }

  ul {
    list-style-type: none;
    padding: 5%;
    border: solid lightgray 1px;
  }

  .componentParagraph {
    float: right;
    padding: 2%;
    text-align: center;
    width: 80%;
  }



  @media only screen and (min-width: 600px) {
    .cardLastMeals{
        max-width: 95%;
        margin-top: 5%;
    } 
    .componentImage {
      height: 15%;
      width: 15%;
    }
  }
    
  @media only screen and (min-width: 768px) {
    .cardLastMeals{
        max-width: 70%;
        margin: 0 auto;
    }
    .componentImage {
      height: 10%;
      width: 10%;
    }
  }
}
  