.buttonContainer
  padding: 10px
  
  button, input
    margin: 10px

.buttonContainerVertical

  button
    margin: 10px auto 10px auto
    display: block

.scanning
  height: 400px
  .buttonContainer
    .viewport
      video, canvas
        width: -webkit-fill-available
    #btnBack
      position: absolute
      bottom: 0